services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: expense-tracker-backend
    ports:
      - "10081:9081"
    restart: unless-stopped

  ui:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: expense-tracker-ui
    depends_on:
      - backend
    ports:
      - "18080:80"
    restart: unless-stopped
